#dashboard .favourite-item {
    cursor:move;
}
#dashboard .favourite-item,
#dashboard .favourite-empty {
	margin:0;
	padding:1em;
}

#dashboard .favourite-item .title {
    width:89%;
    display:inline-block;
}

#dashboard .favourite-item input {
    width: auto;
}

#dashboard .favourite-item .favouriteSubmit {
    display: none;
}